::-webkit-scrollbar {
    height: 5px;
    width: 4px;
    background: #d3d3d32b;
}
body{
	font-family: 'Open Sans',sans-serif;
}
.bold{
	font-weight: bold;
	font-size: 1.15em;
}
.vertical-dot:hover{
	cursor: pointer;
}
::-webkit-scrollbar-thumb {
    background: #d3d3d38c;
    -webkit-border-radius: 1px;
    -webkit-box-shadow: 0px 1px 2px #d3d3d32b;
}

::-webkit-scrollbar-corner {
    background: #d3d3d32b;
}

.hide-route-style{
	color:#fff;
	text-decoration: none;
	display: flex;
	width: 90%;
	padding: 10px 20px;
	border-radius: 10px;
}
li{
	margin-left: 10px;
}
.hide-route-style:hover{
	cursor: pointer;
	color: #fff;
	text-decoration: none;	
}

.sidebar{
	padding: 0px;
}

li .active{
	background-color: goldenrod;
}

.gear:hover{
	cursor: pointer;
}